@tailwind base;
@tailwind components;
@tailwind utilities;


@layer primevue {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: normal;
  }

  span.p-select-label {
    padding: 8px;
  }
}

body {
  max-width: 900px;
  margin: 0 auto 1rem;
}
