
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--surface-b);
  color: var(--text-color);
  font-family: var(--font-family);
}
